CompileFlags:
  Add: ["-std:latest", "/clang:-std=c++23"]

# If:
  # PathMatch: .*\.cu(h)?$
  # CompileFlags:
    # Add:
      # - -x
      # - cuda  # 设置文件语言为 CUDA
      # - --cuda-gpu-arch=sm_50  # 根据需求替换目标 GPU 架构
      # - -I/usr/local/cuda/include  # CUDA 头文件路径
      # - -L/usr/local/cuda/lib64  # CUDA 库路径
